{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<title> {% block tittle %} Arbol {% endblock %}</title>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h1>Listado de Arboles</h1>
        <div class="table-responsive">
             <table class="table table-striped">
                <thead> 
                    <tr>
                        <th>Nombre</th>
                        <th>Nombre Cientifico</th>
                        <th>Altura Maxima (Metros)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in arboles %}
                    <tr>
                        <td> {{c.nombre}}</td>
                        <td> {{c.nombreCientifico}}</td>
                        <td> {{c.alturaMax}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
             </table>   
        </div>               
    </div>
     
    <div class="col ">
        <h1>Podes buscar un arbol:</h1>
    
        <form action="buscarArbol" method="post">{% csrf_token %}
    
            <input type="txt" type="int" name="nombre" id="nombre">
    
            <input type="submit" value="Buscar">  
            
            <button><a href="{% url 'leerArboles' %}"class="btn btn-primary">EditarTabla</a></button>       
        </div>       
</div>
{% endblock %}