{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<title> {% block tittle %} Editar Planta {% endblock %}</title>
    <h1>Formulario - Editar</h1>
    
    {% if miFormulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>

    {% endif %}


    <form action="" method="post">{% csrf_token %}

        
        <table>

            {{ miFormulario.as_table }}


        </table>


        <input type="submit", value="Enviar">

    </form>

  

{% endblock %}