{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<title> {% block tittle %} Leer Cactus {% endblock %}</title>

    {% for c in cactus %}
    <li>{{c.nombre}}<button>
        <a class="btn btn-danger" style="border: solid 1px;padding:2px;" href="{% url 'eliminarCactus' c.nombre %}">Eliminar</a></button>
        <button><a class="btn btn-warning" style="border: solid 1px;padding:2px" href="{% url 'editarCactus' c.nombre %}">Editar</a>
        
    </button></li>
    </button>
    {% endfor %}
    <br>
    <br>
    <a href="{% url 'formularios' %}">Agregar otro cactus</a>

{% endblock %}