<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {% block tittle %} {% endblock %}</title>

        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Inicio</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{%static 'CoderApp/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'CoderApp/css/styles.css' %}" rel="stylesheet" />


    </head>
    
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'planta' %}">Planta</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'arbol' %}">Arbol</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'cactus' %}">Cactus</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'formularios' %}">Formularios</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-primary " href="{% url 'login' %}">iniciar sesión </a> 
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-secondary " href="{% url 'logout' %}">cerrar sesión  </a> 
                  </li>                                       
                  </li>
                    </a>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        {% block contenidoQueCambia %}
            
        {% endblock %}
               
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="{% url 'sobreMi'%}"> Sobre Mi</a></li>                     
                        </ul>
                        <p class="text-muted small mb-6 mb-lg-0">&copy; Melnyczuk Simon</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/simon_melnyczuk/"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'CoderApp/js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        
    </body>
</html>
